body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#top-section, #bottom-section {
    background-color: #f4f4f4;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-section {
    background-image: url('img/fundo1.jpg');
    background-size: 120% 120%; /* Expandida em 20% */
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
    transition: background-size 0.5s ease-in-out; /* Transição suave do background */
}

/* Adicionar responsividade */
@media (max-width: 768px) {
    #top-section, #bottom-section {
        height: 10%; /* Menor altura para dispositivos menores */
    }

    #middle-section {
        height: 80%;
    }
}

/* Efeitos de Fade-in para o corpo da página */
body {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
