body, html {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

#top-section, #bottom-section, #middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#top-section {
    position: relative;
    z-index: 2;
}

#middle-section {
    background-image: url('img/fundo1.jpg');
    background-size: 120% 120%;
    background-repeat: no-repeat;
    margin-top: -50px; /* Sobrepondo a seção anterior */
    opacity: 0.9;
}

/* Adicionar responsividade */
@media (max-width: 768px) {
    #top-section, #bottom-section {
        height: 10%; /* Menor altura para dispositivos menores */
    }

    #middle-section {
        height: 80%;
    }
}

/* Efeitos de Fade-in para o corpo da página */
body {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

